{{ define "head" -}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="Andreas Schroepfer">

  <title>{{.Title}}</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" integrity="sha256-5+W3JHnvGYIJkVxUBsw+jBi9+pOlu9enPX3vZapXj5M=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.css" />

{{range .CSSFiles}}
  <link href="/lib/{{.}}" rel="stylesheet">
{{- end}}
</head>

<body>

<div class="ui grid container">
 
<div class="row">
  {{ template "nav" . }}
 
</div>  
 

</div>
  
{{ end }}      