{{ define "nav"}}
<div id="topnav" class="ui blue top fixed inverted menu">
  <a href="/" class="header item"><i class="paint brush icon"></i>ArtsParts</a>
  <a class="item">Link</a>
  <div class="ui dropdown item">
    Dropdown
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item">Action</div>
      <div class="item">Another Action</div>
      <div class="item">Something else here</div>
      <div class="divider"></div>
      <div class="item">Separated Link</div>
      <div class="divider"></div>
      <div class="item">One more separated link</div>
    </div>
  </div>
  <div class="right menu">
      {{ with .Admin }}
      <a href="/page/admin" class="item">Admin</a>
      {{ end }}
    {{ template "login" .}}
  </div>
</div>
<div class="ui hidden divider"></div>
{{ end }}