{{ define "editor"}} {{ template "head" .}}

<div id="editor" class="ui stackable two column grid container">
    <div class="ui hidden divider"></div>
    <div class="row">
        <h2>Editor - {{.Artwork.Name}}</h2>
    </div>

    <div class="column">
        <div class="ui large image">
            <img id="image" src="/img{{.Artwork.URIPath}}?size=huge">
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui center aligned">
            <button v-on:click="zoomIn" class="ui primary labeled icon button">
            <i class="zoom icon"></i>
            Zoom in
            </button>
             <button v-on:click="zoomOut" class="ui primary right labeled icon button">
            <i class="zoom out icon"></i>
            Zoom out
            </button>
        </div>
    </div>
    <div class="column">
        {{with .User}}
        <div class="ui form warning">
            <div class="ui warning message">
                <div class="header">Anleitung</div>
                <ul class="list">
                    <li>Durch zoomen und verschieben des Bildes wird der helle Bereich als Bild getwittert.</li>
                    <li>Alles was Du hier twitterst bekommen auch Deine Follower mit</li>
                    <li>Mit "Twittern" best&auml;tigst Du Deine Eingabe und ein Tweet mit Deinem ArtPart wird erzeugt. Wichtig:
                        Der Tweet wird &uuml;ber Deinen Twitter Account abgeschickt.</li>
                </ul>
            </div>
        </div>
        {{else}}
        <div class="ui form error">
            <div class="ui error message">
                <div class="header">Achtung nicht angemeldet!</div>
                <ul class="list">
                    <li>Um einen ArtPart tweeten zu k&ouml;nnen, musst Du mit Deinem Twitter account angemeldet sein.</li>
                    <li>Klicke oben rechts auf "Mit Twitter anmelden"</li>
                    <li>Ansonsten kannst Du hier schon mal ausprobieren, wie das hier funktioniert.</li>
                </ul>
            </div>
        </div>
        {{end}}
        <div class="ui hidden divider"></div>
        <div class="ui form">
            <div class="field">
                <label>Dein ArtPart Tweet</label>
                <textarea v-model="artpart.tweettext" rows="2"></textarea>
            </div>
            <p>Verbleibende Zeichen: [[charsRemain]]</p>

            <div v-if="tooMuchChars" class="ui orange icon message">
                <i class="warning sign icon"></i>
                <div class="content">
                    <p>Achtung zu viele Zeichen verwendet. Dein Tweet wird nach 140 Zeichen automatisch abgeschnitten!</p>
                </div>
            </div>
            {{ with .User}}
            <button class="ui left labeled icon button">
            <i class="remove circle icon"></i>
            Abbrechen
            </button>
            <button v-on:click="createArtpart" class="ui right labeled icon primary button">
            <i class="twitter icon"></i>
            Twittern
            </button>
            <div class="ui basic modal">
                <div class="ui icon header">
                    <i class="twitter icon"></i>
                    Dein ArtPart Tweet wird gepostet.
                </div>
            </div>
            {{end}}
        </div>
    </div>
</div>
<script>
const URIPath = "{{js .Artwork.URIPath}}";
const PermanentLink = "{{html .Artwork.ShortLink}}";
</script>
{{ template "foot" .}} {{end}}