{{ define "timeline"}}
{{ template "head" .}}
<div class="ui stackable three column grid container">
    <div class="ui hidden divider"></div>
    <div class="row">
        <h1>Timeline</h1>
    </div>

    <div class="ui divided items">
        {{range .Timeline}}
        <div class="item">
            <div class="ui medium image">
                <img src="/img{{.URIPath}}?size=medium" alt="{{.Name}}" />
            </div>

            <div class="middle aligned content">

                <a href="/artwork{{.URIPath}}" class="header">{{.Name}}</a>

                <div class="meta">
                    <div class="date">Ver&ouml;ffentlicht {{ tsToDateTime .Timestamp}}</div>

                </div>
                <div class="description">
                    <p>{{.Description}}</p>
                </div>
                <div class="extra">
                    <a href="/artwork{{.URIPath}}">
                <i class="twitter icon"></i>
                {{len .Parts}} ArtPart Tweets
                </a>
                    <a href="/editor{{.URIPath}}" class="ui right floated primary button">
                        ArtPart erstellen
                        <i class="right paint brush icon"></i>
                    </a>
                </div>
            </div>

        </div>
        {{end}}
    </div>
</div>
{{ template "foot" .}} {{end}}
